LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=20
PidFile=/var/run/zabbix/zabbix_server.pid
DBHost=localhost
DBName=zabbix
DBUser=zabbix
DBPassword={{zabbix_mysql_password}}
DBSocket=/var/lib/mysql/mysql.sock
DBPort=3306
StartPollers=250
StartIPMIPollers=3
StartPollersUnreachable=60
StartTrappers=20
StartPingers=30
StartDiscoverers=10
StartHTTPPollers=3
StartTimers=50
SNMPTrapperFile=/var/log/snmptt/snmptt.log
ListenIP=0.0.0.0
CacheSize=1G
StartDBSyncers=30
HistoryCacheSize=2G
TrendCacheSize=2G
ValueCacheSize=2G
Timeout=15
UnreachablePeriod=60
UnavailableDelay=30
UnreachableDelay=30
AlertScriptsPath=/etc/zabbix/alertscripts
ExternalScripts=/etc/zabbix/externalscripts
FpingLocation=/usr/sbin/fping
Fping6Location=/usr/sbin/fping6
HistoryCacheSize = 2G
HistoryIndexCacheSize = 2G
